# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.optrpt
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Ignore binary directory.
bin/

# Log files.
*.log

# Swap files. 
*.swp

# VTK files.
*.vtk

# Data files.
*.data


